.search {
  float: right;
}

.searchInput {
  color: white !important;
  margin-left: 1rem;
  border-bottom: solid 1px white;
}

.title {
  margin-left: 1rem !important;
}

.icon {
  color: white;
}

.about {
  width: 22rem;
}
