.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.stack {
  width: 100%;
}

.controls {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.controls > button {
  margin-left: 10px;
}

.viewportContainer {
  position: relative;
}

.viewport {
  position: relative;
  margin: 0 auto;
  /* width: 400px;
  height: 300px; */
  width: 100%;
  height: auto;
}

.viewport canvas,
.viewport video {
  /* width: 400px;
  height: 300px; */
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.viewport canvas.drawingBuffer,
.viewport video.drawingBuffer {
  /* width: 400px;
  height: 300px; */
  width: 100%;
  height: auto;
}
