.iconButton {
  position: relative;
}

.icon {
  color: white;
}

.badge,
.badgeRed {
  position: absolute;
  right: 0.1rem;
  bottom: -0.1rem;
  font-size: 1.2rem;
  color: white;
}

.alertLink {
  /* color: white !important; */
  text-decoration: underline;
  margin-left: 0.3rem;
}
